.tagsButtonWrapper{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;    
    & div{
        padding: 5px;
        border-radius: 15px;
        font-size: 25px;
        background-color: rgb(238, 210, 176);
        display: flex;
        gap: 10px;
        color:rgb(2, 105, 173);
        cursor: pointer;
        &:hover{
            background-color: rgb(216, 190, 157);
        }
        &:active{
            background-color: rgb(238, 210, 176);
        }
        & button{
            width: 25px;
            height: 25px;
            padding: 7px;
            border-radius: 50%;
            background-color: rgb(219, 194, 163);
            display: flex;
            justify-content: center;
            align-items: center;
            fill:rgb(51, 50, 50);
            &:hover{
                background-color: rgb(238, 95, 95);
            }
            &:active{
                background-color: rgb(247, 0, 0);
            }
        }
    }
}